In [1]:
import pandas as pd
import json

PATH = './datasets/ASSIN/'

files = {
    'train' : 'assin-ptbr-train.json',
    'test' : 'assin-ptbr-test.json',
    'dev' : 'assin-ptbr-dev.json'
}

def load_dataset(PATH, files):
    return (pd.DataFrame(json.load(open(PATH + files[key],'r'))) for key in sorted(tuple(files)))

dev, test, train = load_dataset(PATH, files)

dev.sample(10)

,entailment,h,id_,similarity,t
235,0,"Armado de revólver, rendeu dois frentistas e r...",2736,2.25,"Um ladrão armado entrou no comércio, rendeu um..."
40,0,"O giro financeiro totalizou apenas R$ 4,966 bi...",2541,3.75,O giro financeiro do primeiro pregão da semana...
3,1,O time estreia na Copa América contra o Peru.,2504,4.25,A estreia do Brasil na Copa América está marca...
52,0,"Assim como David Braz, Werley também foi expul...",2553,2.00,Um dos mais revoltados após o clássico realiza...
43,1,Os primeiros problemas com o Skype começaram e...,2544,4.25,Os primeiros problemas com o Skype foram detet...
373,2,"A quina foi acertada por 65 apostadores, que l...",2874,5.00,A quina teve 65 apostas ganhadoras e cada uma ...
53,0,A opção de assinatura mais em conta é do Offic...,2554,2.25,A nova versão traz uma novidade interessante: ...
186,0,"Nos primeiros nove meses do ano passado, a bal...",2687,2.50,"Em setembro do ano passado, a balança comercia..."
267,0,Palmeiras e Grêmio fizeram neste sábado mais u...,2768,3.00,"Mal na partida, o Grêmio deixou tudo igual aos..."
232,0,"A plateia gritava o nome de Hillary, mulher do...",2733,2.75,"Ao seu lado estavam o marido, o ex-presidente ..."

In [5]:
type(dev['similarity'].tolist()[0])

float

In [ ]:
benchmarks = ("AVG-ELMO", ft.partial(run_context_avg_benchmark, model=elmo, use_stoplist=False))